<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="display:table-cell; vertical-align:middle; text-align:center">
        <img src="data:image/png;base64,{{ img_string }}" width="500px">
    </div>
    <hr />
    <p>ФИО пациента - {{surname}} {{name}} {{patronymic}} {{birthday}}</p>
    <p>Результаты обследования:</p>
    <p>mean F0 - {{mean_f0}}</p>
    <p>local shimmer - {{local_shimmer}}</p>
    <p>local jitter - {{local_jitter}}</p>
    <p>rap jitter - {{rap_jitter}}</p>
    <p> </p>
    <p>Обследование проводил: Вязьменов Эдуард Олегович</p>
    <p>Дата обследования: {{date}}</p>
</body>
</html>